<!-- <p>
  Formulario de Grupo para Rol: <b>{{ roleName }}</b>
</p>

<button
  pButton
  pRipple
  label="Mostrar formulario"
  class="p-button-success p-button-sm"
  (click)="loadForms()"
></button> -->

<div class="grid p-4">
  <div class="col-12">
    <div class="flex gap-2 align-items-center">
      <h2>Test Form</h2>
      <p-chip label="Custom UI" styleClass="text-xs bg-yellow-200" />
      <p-chip label="DB forms" styleClass="text-xs bg-orange-200" />
    </div>
  </div>
  <!-- -------------------------------------------------------------- -->
  <div class="col-6">
    <div class="flex flex-column gap-2">
      <label for="dateEntry">Fecha de entrada </label>
      <input pInputText [disabled]="true" class="opacity-100" />
    </div>
  </div>

  <div class="col-6">
    <div class="flex flex-column gap-2">
      <label for="priority">Prioridad del servicio</label>
      <p-dropdown
        [options]="[]"
        optionValue=""
        optionLabel=""
        class="p-fluid"
        styleClass="opacity-100"
        [disabled]="true"
      />
    </div>
  </div>

  <div class="col-12">
    <div class="flex flex-column gap-2">
      <label for="bitrix">Tarea del servicio en Bitrix</label>
      <div class="p-inputgroup">
        <input pInputText [disabled]="true" />
        <button
          type="button"
          pButton
          icon="pi pi-external-link"
          class="p-button-outlined p-button-secondary"
        ></button>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="flex flex-column gap-2">
      <label for="reclaim">Número de reclamo del servicio</label>

      <div class="p-inputgroup">
        <input
          pInputText
          [disabled]="true"
          class="opacity-100"
          value="XXXX-00000000-0"
        />
        <button
          type="button"
          pButton
          icon="pi pi-copy"
          class="p-button-outlined p-button-secondary"
        ></button>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="flex flex-column gap-2">
      <label for="state">Estado del servicio</label>
      <p-dropdown
        [options]="[]"
        optionValue=""
        optionLabel=""
        class="p-fluid"
        styleClass="opacity-100"
        [disabled]="true"
      />
    </div>
  </div>

  <div class="col-12">
    <div class="flex flex-column gap-2">
      <label for="warranties">Sección de garantias</label>
      <div
        class="flex align-items-center gap-2 p-3 bg-blue-100 text-blue-600 border-round"
      >
        <i class="pi pi-info-circle"></i> Las garantias se generanán
        automaticamente
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="flex flex-column gap-2">
      <label for="warranty">Garantía del servicio</label>

      <p-selectButton
        [options]="[
          { label: 'Aplicar Garantía', value: true },
          { label: 'No aplicar Garantía', value: false },
          { label: 'Sin aplicar Garantía', value: null }
        ]"
        class="p-fluid"
      >
        <ng-template let-item pTemplate>
          <span>{{ item.label }}</span>
        </ng-template>
      </p-selectButton>
    </div>
  </div>

  <div class="col-12">
    <p-panel [toggleable]="true" [toggler]="'header'">
      <ng-template pTemplate="header">
        <section class="flex flex-column">
          <span class="font-semibold text-lg">Detalles logísticos</span>
          <span class="text-color-secondary text-sm">
            Datos logísticos del servicio, remitos y cotizaciones.
          </span>
        </section>
      </ng-template>
      <ng-template pTemplate="content">
        <section class="grid">
          <div class="col-4">
            <div class="flex flex-column gap-2">
              <label for="remit"> Remito de ingreso del servicio </label>
              <input pInputText />
            </div>
          </div>

          <div class="col-4">
            <div class="flex flex-column gap-2">
              <label for="remitEntry"> Remito de ingreso del servicio </label>
              <input pInputText />
            </div>
          </div>

          <div class="col-4">
            <div class="flex flex-column gap-2">
              <label for="remitDeparture">
                Fecha de remito de salida del servicio
              </label>
              <input pInputText />
            </div>
          </div>

          <div class="col-6">
            <div class="flex flex-column gap-2">
              <label for="orderBuy"> Número de cotización del servicio </label>
              <input pInputText />
            </div>
          </div>

          <div class="col-6">
            <div class="flex flex-column gap-2">
              <label for="orderNumber">
                Número de orden de compra del servicio
              </label>
              <input pInputText />
            </div>
          </div>
        </section>
      </ng-template>
    </p-panel>
  </div>

  <div class="col-12">
    <p-panel [toggleable]="true" [toggler]="'header'">
      <ng-template pTemplate="header">
        <section class="flex flex-column">
          <span class="font-semibold text-lg">Detalles del producto</span>
          <span class="text-color-secondary text-sm">
            Datos del producto, partes instaladas y reprocesos realizados.
          </span>
        </section>
      </ng-template>
      <ng-template pTemplate="content">
        <section class="grid">
          <div class="col-6">
            <div class="flex flex-column gap-2">
              <label for="remit"> Cliente del producto </label>
              <input pInputText />
            </div>
          </div>

          <div class="col-6">
            <div class="flex flex-column gap-2">
              <label for="remit"> Tipo del producto </label>
              <input pInputText />
            </div>
          </div>

          <div class="col-6">
            <div class="flex flex-column gap-2">
              <label for="remit"> Número de serie del producto </label>
              <input pInputText />
            </div>
          </div>

          <div class="col-6">
            <div class="flex flex-column gap-2">
              <label for="remit"> Fecha de despacho del producto </label>
              <input pInputText />
            </div>
          </div>

          <div class="col-12">
            <div class="flex flex-column gap-2">
              <label for="warranties">Sección de partes</label>
              <div
                class="flex align-items-center gap-2 p-3 bg-blue-100 text-blue-600 border-round"
              >
                <i class="pi pi-info-circle"></i> Las partes del producto se
                generanán automaticamente
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="flex flex-column gap-2">
              <label for="warranties">Sección de reprocesos</label>
              <div
                class="flex align-items-center gap-2 p-3 bg-blue-100 text-blue-600 border-round"
              >
                <i class="pi pi-info-circle"></i> Los reprocesos del producto se
                generanán automaticamente
              </div>
            </div>
          </div>
        </section>
      </ng-template>
    </p-panel>
  </div>

  <div class="col-12">
    <p-panel [toggleable]="true" [toggler]="'header'">
      <ng-template pTemplate="header">
        <section class="flex flex-column">
          <span class="font-semibold text-lg"
            >Reporte de servicio y hallazgos</span
          >
          <span class="text-color-secondary text-sm">
            Detalles técnicos y observaciones detectadas durante el servicio del
            producto.
          </span>
        </section>
      </ng-template>
      <ng-template pTemplate="content">
        <section class="grid">
          <div class="col-12">
            <div class="flex flex-column gap-2">
              <label for="warranties">Sección de reportes del cliente</label>
              <div
                class="flex align-items-center gap-2 p-3 bg-blue-100 text-blue-600 border-round"
              >
                <i class="pi pi-info-circle"></i> Los reportes del cliente al
                producto se generanán automaticamente
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="flex flex-column gap-2">
              <label for="remit"> Falla reportada por el cliente </label>

              <textarea rows="3" pInputTextarea [autoResize]="true"></textarea>
            </div>
          </div>
          <div class="col-12">
            <div class="flex flex-column gap-2">
              <label for="priority">Reporte final del servicio</label>
              <p-dropdown
                [options]="[]"
                optionValue=""
                optionLabel=""
                class="p-fluid"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="flex flex-column gap-2">
              <label for="warranty">Faja de seguridad</label>

              <p-selectButton
                [options]="[
                  { label: 'Con Faja de seguridad', value: true },
                  { label: 'Sin Faja de seguridad', value: false }
                ]"
                class="p-fluid"
              >
                <ng-template let-item pTemplate>
                  <span>{{ item.label }}</span>
                </ng-template>
              </p-selectButton>
            </div>
          </div>
          <div class="col-12">
            <label for="warranty">Fallas detectadas</label>
            <p-multiSelect
              [options]="[]"
              optionLabel=""
              optionValue=""
              class="p-fluid"
              [showToggleAll]="false"
              [resetFilterOnHide]="true"
            />
          </div>
          <div class="col-12">
            <div class="flex flex-column gap-2">
              <label for="remit"> Observaciones generales </label>
              <textarea rows="6" pInputTextarea [autoResize]="true"></textarea>
            </div>
          </div>
        </section>
      </ng-template>
    </p-panel>
  </div>
</div>

<router-outlet></router-outlet>
