<section class="flex gap-2 pb-2 align-items-center">
  <p-chip
    [label]="roleName"
    styleClass="text-xs bg-blue-100 font-bold uppercase"
  />
  <i
    *ngIf="!formsLoaded"
    class="pi pi-spin pi-spinner text-blue-600"
    style="font-size: 1rem"
  ></i>
</section>
<form [formGroup]="formGroups['support']" *ngIf="formsLoaded">
  <div class="grid p-4">
    <div class="col-12">
      <div class="flex justify-content-between align-items-center">
        <div class="flex gap-2 align-items-center">
          <h2>Formulario</h2>
          <p-chip label="Custom UI" styleClass="text-xs bg-yellow-200" />
          <p-chip label="DB forms" styleClass="text-xs bg-orange-200" />
        </div>
        <button pButton type="button" class="p-button-secondary">UI</button>
      </div>
    </div>

    <div [class]="getField('support', 'priority').canRead ? 'col-6' : 'col'">
      <div class="flex flex-column gap-2">
        <label for="dateEntry">Fecha de entrada </label>
        <input
          pInputText
          [disabled]="true"
          value="UI"
          class="opacity-100 bg-gray-100"
        />
      </div>
    </div>

    <div class="col-6" *ngIf="getField('support', 'priority').canRead">
      <div class="flex flex-column gap-2">
        <label for="priority">Prioridad del servicio</label>
        <p-dropdown
          [options]="getField('support', 'priority')?.options"
          optionValue="value"
          optionLabel="label"
          class="p-fluid"
          styleClass="opacity-100"
          formControlName="priority"
        />
      </div>
    </div>

    <div class="col-12" *ngIf="getField('support', 'bitrixUrl').canRead">
      <div class="flex flex-column gap-2">
        <label for="bitrixUrl">Tarea del servicio en Bitrix</label>
        <div class="p-inputgroup">
          <input pInputText formControlName="bitrixUrl" class="opacity-100" />
          <button
            type="button"
            pButton
            icon="pi pi-external-link"
            class="p-button-outlined p-button-secondary"
            (click)="openBitrixTask()"
          ></button>
        </div>
      </div>
    </div>

    <div [class]="getField('support', 'state').canRead ? 'col-6' : 'col'">
      <div class="flex flex-column gap-2">
        <label for="reclaim">Número de reclamo del servicio</label>
        <div class="p-inputgroup">
          <input
            pInputText
            [disabled]="true"
            value="UI"
            class="opacity-100 bg-gray-100"
          />
          <button
            type="button"
            pButton
            icon="pi pi-copy"
            class="p-button-outlined p-button-secondary"
          ></button>
        </div>
      </div>
    </div>

    <div class="col-6" *ngIf="getField('support', 'state').canRead">
      <div class="flex flex-column gap-2">
        <label for="state">Estado del servicio</label>
        <p-dropdown
          [options]="getField('support', 'state')?.options || []"
          optionValue="value"
          optionLabel="label"
          class="p-fluid"
          styleClass="opacity-100"
          formControlName="state"
        />
      </div>
    </div>

    <div class="col-12" *ngIf="getField('support', 'warranty').canRead">
      <div
        class="flex flex-column align-items-center justify-content-center gap-2 p-3 bg-gray-100 text-gray-600 border-round w-full"
      >
        <i class="pi pi-info-circle text-4xl"></i> Las garantias se generarán
        automaticamente
      </div>
    </div>

    <div class="col-12" *ngIf="getField('support', 'warranty').canRead">
      <div class="flex flex-column gap-2">
        <label for="warranty">Garantía del servicio</label>
        <p-selectButton
          [options]="getField('support', 'warranty')?.options"
          optionValue="value"
          optionLabel="label"
          class="p-fluid"
          styleClass="opacity-100"
          formControlName="warranty"
        >
          <ng-template let-item pTemplate>
            <span>{{ item.label }}</span>
          </ng-template>
        </p-selectButton>
        <div
          class="flex align-items-center gap-2 p-3 bg-yellow-100 text-yellow-600 border-round"
          *ngIf="formGroups['support'].get('warranty')?.value === null"
        >
          <i class="pi pi-info-circle"></i> Por favor contacte a un
          administrador para asignar la garantía correcta al servicio
        </div>
      </div>
    </div>

    <div
      [class]="getField('support', 'level').canRead ? 'col-6' : 'col'"
      *ngIf="getField('support', 'supplier').canRead"
    >
      <div class="flex flex-column gap-2">
        <label for="supplier">Proveedor del Servicio</label>
        <p-dropdown
          [options]="getField('support', 'supplier')?.options || []"
          optionValue="value"
          optionLabel="label"
          class="p-fluid"
          styleClass="opacity-100"
          formControlName="supplier"
        />
      </div>
    </div>

    <div
      [class]="getField('support', 'supplier').canRead ? 'col-6' : 'col'"
      *ngIf="getField('support', 'level').canRead"
    >
      <div class="flex flex-column gap-2">
        <label for="level">Nivel del Servicio</label>
        <p-dropdown
          [options]="getField('support', 'level')?.options || []"
          optionValue="value"
          optionLabel="label"
          class="p-fluid"
          styleClass="opacity-100"
          formControlName="level"
        />
      </div>
    </div>

    <!-- Detalles logísticos -->
    <div class="col-12">
      <p-panel [toggleable]="true" toggler="header">
        <ng-template pTemplate="header">
          <section class="flex flex-column">
            <span class="font-semibold text-lg">Detalles logísticos</span>
            <span class="text-color-secondary text-sm">
              Datos logísticos del servicio, remitos y cotizaciones.
            </span>
          </section>
        </ng-template>
        <ng-template pTemplate="content">
          <section class="grid">
            <div
              class="col-12"
              *ngIf="getField('support', 'startReference').canRead"
            >
              <div class="flex flex-column gap-2">
                <label for="startReference">
                  Remito de ingreso del servicio
                </label>
                <input
                  pInputText
                  formControlName="startReference"
                  class="opacity-100"
                />
              </div>
            </div>

            <div
              class="col-12"
              *ngIf="getField('support', 'endReference').canRead"
            >
              <div class="flex flex-column gap-2">
                <label for="endReference">
                  Remito de salida del servicio
                </label>
                <input
                  pInputText
                  formControlName="endReference"
                  class="opacity-100"
                />
              </div>
            </div>

            <div
              class="col-12"
              *ngIf="getField('support', 'dateEndReference').canRead"
            >
              <div class="flex flex-column gap-2">
                <label for="dateEndReference">
                  Fecha de remito de salida del servicio
                </label>
                <p-calendar
                  formControlName="dateEndReference"
                  class="p-fluid"
                  styleClass="opacity-100"
                  appendTo="body"
                />
              </div>
            </div>

            <div
              class="col-12"
              *ngIf="getField('support', 'quoteNumber').canRead"
            >
              <div class="flex flex-column gap-2">
                <label for="quoteNumber">
                  Número de cotización del servicio
                </label>
                <input
                  pInputText
                  formControlName="quoteNumber"
                  class="opacity-100"
                />
              </div>
            </div>

            <div
              class="col-12"
              *ngIf="getField('support', 'orderNumber').canRead"
            >
              <div class="flex flex-column gap-2">
                <label for="orderNumber">
                  Número de orden de compra del servicio
                </label>
                <input
                  pInputText
                  formControlName="orderNumber"
                  class="opacity-100"
                />
              </div>
            </div>

            <div
              class="flex flex-column align-items-center justify-content-center gap-2 p-3 bg-gray-100 text-gray-600 border-round w-full"
              *ngIf="
                !getField('support', 'startReference').canRead &&
                !getField('support', 'endReference').canRead &&
                !getField('support', 'dateEndReference').canRead &&
                !getField('support', 'quoteNumber').canRead &&
                !getField('support', 'orderNumber').canRead
              "
            >
              <i class="pi pi-info-circle text-4xl"></i> No tienes permisos para
              ver ningún campo de esta sección
            </div>
          </section>
        </ng-template>
      </p-panel>
    </div>

    <!-- Detalles del producto -->
    <div class="col-12">
      <p-panel [toggleable]="true" toggler="header">
        <ng-template pTemplate="header">
          <section class="flex flex-column">
            <span class="font-semibold text-lg">Detalles del producto</span>
            <span class="text-color-secondary text-sm">
              Datos del producto, partes instaladas y reprocesos realizados.
            </span>
          </section>
        </ng-template>
        <ng-template pTemplate="content">
          <section class="grid">
            <div class="col-6">
              <div class="flex flex-column gap-2">
                <label for="client"> Cliente del producto </label>
                <input
                  pInputText
                  [disabled]="true"
                  value="UI"
                  class="opacity-100 bg-gray-100"
                />
              </div>
            </div>

            <div class="col-6">
              <div class="flex flex-column gap-2">
                <label for="productType"> Tipo del producto </label>
                <input
                  pInputText
                  [disabled]="true"
                  value="UI"
                  class="opacity-100 bg-gray-100"
                />
              </div>
            </div>

            <div class="col-6">
              <div class="flex flex-column gap-2">
                <label for="serial"> Número de serie del producto </label>
                <input
                  pInputText
                  [disabled]="true"
                  value="UI"
                  class="opacity-100 bg-gray-100"
                />
              </div>
            </div>

            <div class="col-6">
              <div class="flex flex-column gap-2">
                <label for="deliveryDate">
                  Fecha de despacho del producto
                </label>
                <input
                  pInputText
                  [disabled]="true"
                  value="UI"
                  class="opacity-100 bg-gray-100"
                />
              </div>
            </div>
            <div class="col-12">
              <p-panel [toggleable]="true" toggler="header">
                <ng-template pTemplate="header">
                  <section class="flex flex-column">
                    <span class="font-semibold text-lg">Partes</span>
                    <span class="text-color-secondary text-sm">
                      Partes instaladas en el producto.
                    </span>
                  </section>
                </ng-template>
                <ng-template pTemplate="content">
                  <section class="grid">
                    <div
                      class="flex flex-column align-items-center justify-content-center gap-2 p-3 bg-gray-100 text-gray-600 border-round w-full"
                    >
                      <i class="pi pi-info-circle text-4xl"></i> Las partes se
                      generarán automaticamente
                    </div>
                  </section>
                </ng-template>
              </p-panel>
            </div>

            <div class="col-12">
              <p-panel [toggleable]="true" toggler="header">
                <ng-template pTemplate="header">
                  <section class="flex flex-column">
                    <span class="font-semibold text-lg">Reprocesos</span>
                    <span class="text-color-secondary text-sm">
                      Reprocesos realizados en el producto.
                    </span>
                  </section>
                </ng-template>
                <ng-template pTemplate="content">
                  <section class="grid">
                    <div
                      class="flex flex-column align-items-center justify-content-center gap-2 p-3 bg-gray-100 text-gray-600 border-round w-full"
                    >
                      <i class="pi pi-info-circle text-4xl"></i> Los reprocesos
                      se generarán automaticamente
                    </div>
                  </section>
                </ng-template>
              </p-panel>
            </div>
          </section>
        </ng-template>
      </p-panel>
    </div>

    <!-- Reporte de servicio y hallazgos -->
    <div class="col-12">
      <p-panel [toggleable]="true" toggler="header">
        <ng-template pTemplate="header">
          <section class="flex flex-column">
            <span class="font-semibold text-lg"
              >Reporte de servicio y hallazgos</span
            >
            <span class="text-color-secondary text-sm">
              Detalles técnicos y observaciones detectadas durante el servicio
              del producto.
            </span>
          </section>
        </ng-template>
        <ng-template pTemplate="content">
          <section class="grid">
            <div class="col-12" *ngIf="getField('support', 'failure').canRead">
              <p-panel [toggleable]="true" toggler="header">
                <ng-template pTemplate="header">
                  <section class="flex flex-column">
                    <span class="font-semibold text-lg"
                      >Reportes del cliente</span
                    >
                    <span class="text-color-secondary text-sm">
                      Reportes del cliente al producto.
                    </span>
                  </section>
                </ng-template>
                <ng-template pTemplate="content">
                  <section class="grid">
                    <div
                      class="flex flex-column align-items-center justify-content-center gap-2 p-3 bg-gray-100 text-gray-600 border-round w-full"
                    >
                      <i class="pi pi-info-circle text-4xl"></i> Los reportes
                      del cliente se generarán automaticamente
                    </div>
                  </section>
                </ng-template>
              </p-panel>
            </div>

            <div class="col-12" *ngIf="getField('support', 'failure').canRead">
              <div class="flex flex-column gap-2">
                <label for="failure"> Falla reportada por el cliente </label>
                <textarea
                  rows="3"
                  pInputTextarea
                  [autoResize]="true"
                  formControlName="failure"
                ></textarea>
              </div>
            </div>

            <div
              class="col-12"
              *ngIf="getField('support', 'reportTypes').canRead"
            >
              <div class="flex flex-column gap-2">
                <label for="reportTypes">Reporte final del servicio</label>
                <p-multiSelect
                  [options]="getField('support', 'reportTypes')?.options || []"
                  optionValue="value"
                  optionLabel="label"
                  class="p-fluid"
                  formControlName="reportTypes"
                  [showToggleAll]="false"
                  [showClear]="true"
                  [showHeader]="false"
                  display="chip"
                />
              </div>
            </div>

            <div
              class="col-12"
              *ngIf="getField('support', 'securityStrap').canRead"
            >
              <div class="flex flex-column gap-2">
                <label for="securityStrap">Faja de seguridad</label>
                <p-selectButton
                  [options]="
                    getField('support', 'securityStrap')?.options || []
                  "
                  optionValue="value"
                  optionLabel="label"
                  class="p-fluid"
                  formControlName="securityStrap"
                >
                  <ng-template let-item pTemplate>
                    <span>{{ item.label }}</span>
                  </ng-template>
                </p-selectButton>
              </div>
            </div>

            <div
              class="col-12"
              *ngIf="getField('support', 'failureTypes').canRead"
            >
              <label for="failureTypes">Fallas detectadas</label>
              <p-multiSelect
                [options]="getField('support', 'failureTypes')?.options || []"
                optionValue="value"
                optionLabel="label"
                class="p-fluid"
                formControlName="failureTypes"
                [showToggleAll]="false"
                [showClear]="true"
                display="chip"
              />
            </div>

            <div class="col-12" *ngIf="getField('support', 'remarks').canRead">
              <div class="flex flex-column gap-2">
                <label for="remarks"> Observaciones generales </label>
                <textarea
                  rows="6"
                  pInputTextarea
                  [autoResize]="true"
                  formControlName="remarks"
                ></textarea>
              </div>
            </div>
            <div
              class="flex flex-column align-items-center justify-content-center gap-2 p-3 bg-gray-100 text-gray-600 border-round w-full"
              *ngIf="
                !getField('support', 'failure').canRead &&
                !getField('support', 'reportTypes').canRead &&
                !getField('support', 'securityStrap').canRead &&
                !getField('support', 'failureTypes').canRead &&
                !getField('support', 'remarks').canRead
              "
            >
              <i class="pi pi-info-circle text-4xl"></i> No tienes permisos para
              ver ningún campo de esta sección
            </div>
          </section>
        </ng-template>
      </p-panel>
    </div>

    <div class="col-12">
      <div class="flex justify-content-end gap-2">
        <p-button
          label="Salir"
          styleClass="p-button-secondary p-button-sm"
          (onClick)="cancelForm()"
        />
        <p-button
          label="Editar"
          (onClick)="saveForm()"
          styleClass="p-button-sm"
        />
      </div>
    </div>
  </div>
</form>
<router-outlet></router-outlet>
